.fix_importacaoCSVFile{
  display:none;
  border:1px solid red;
}

.progressoProcessamentoCsv
{
  display: none;
  width: 50%;
}
.progressoProcessamentoCsv h1
{
  margin-bottom: 1px;
  font-size: 14px;
}
.progressoProcessamentoCsv .barraProgresso
{
  border:1px solid #D1DDEB;
  height: 15px;
}
.progressoProcessamentoCsv .barraProgresso .progresso
{
  background-color: #B0C5D8;
  height: 100%;
  width: 0%;
}
.progressoProcessamentoCsv .direita
{
  text-align: right;
}
.progressoProcessamentoCsv .progressoPercentual
{
  position: absolute;
  left: 40%;
  transform: translateX(-40%);
}
.resumoImportacao
{
  display: none;
}fix_importacaoCSVFile