@media print{
    @page {
        margin-left:0.0cm;
        margin-right:0.0cm;        
    }
    
    .resultado_pesquisa{
        margin-left:0;
        margin-right:0; 
    }
    
    tr td{
        font-size: 12px !important;
        border: 1px solid #333333;
        height: 20px;
    }
    
}